@media (max-width: 576px) {
  .mobile-wrapper {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 240px;
    position: relative;
    padding-bottom: 30px;
    background: linear-gradient(0deg, #cc587f 0%, rgba(0, 0, 0, 0) 66%);
    img {
      max-width: 62%;
      margin-left: 13px;
    }
    .discount {
      font-size: 1.4rem;
      margin-top: 12px;
      margin-bottom: 3px;
      letter-spacing: 0.6px;
      word-spacing: normal;
    }
    .input-wrapper {
      justify-content: flex-end;
    }
    .price {
      font-size: 3.3rem;
      margin-bottom: 8px;
    }
    sup {
      font-size: 1.3rem;
    }
    .container-info {
      margin-right: 20px;
    }
    .btn {
      margin-right: 5px;
    }
    .input-value {
      left: 15%;
      top: 12px;
    }
    .icon {
      right: 60%;
    }
    &::after {
      content: "";
      background: url(../img/doska-mobile.png);
      width: 104%;
      height: 21px;
      position: absolute;
      top: 55%;
      left: -2%;
      right: 0;
      display: block;
    }
  }
  .carousel-selector {
    display: block;
  }
  .carousel-items,
  .carousel-labels {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
  }
  .carousel-item {
    width: 240px;
    display: block;
    float: left;
    background: transparent;
    padding-bottom: 0;
  }

  .carousel-wrapper {
    width: 100%;
    min-height: 100%;
    padding-top: 5%;
    background-position: center;
    position: relative;
    overflow-x: hidden;
    padding-bottom: 0;
  }
  .carousel-items {
    min-width: max-content !important;
    width: 400%;
    height: auto;
    position: absolute;
    display: flex;
    left: 0;
    top: 94px;
    z-index: 1;
    transition: left 0.5s ease-out;
    -o-transition: left 0.5s ease-out;
    -ms-transition: left 0.5s ease-out;
    -moz-transition: left 0.5s ease-out;
    -webkit-transition: left 0.5s ease-out;
    &::after {
      display: none;
    }
  }
  .carousel-item {
    width: 100vw;
    height: 100%;
    color: white;
  }
  .carousel-labels {
    position: relative;
    z-index: 2;
    left: 0;
    margin-top: 505px;
    height: 70px;
    width: 100%;
    text-align: center;
    background: transparent;
  }
  .carousel-selector {
    display: none;
  }
  .carousel-label {
    display: inline-block;
  }
  .carousel-label label {
    width: 15px;
    height: 10px;
    border-radius: 15px;
    border: 3px solid #fff;
    display: block;
    cursor: pointer;
  }

  #slide1:checked ~ .carousel-items {
    left: 0;
  }
  #slide1:checked ~ .carousel-labels .carousel-label:nth-child(1) label {
    background-color: white;
  }
  #slide2:checked ~ .carousel-items {
    left: -100%;
  }
  #slide2:checked ~ .carousel-labels .carousel-label:nth-child(2) label {
    background-color: white;
  }
  #slide3:checked ~ .carousel-items {
    left: -200%;
  }
  #slide3:checked ~ .carousel-labels .carousel-label:nth-child(3) label {
    background-color: white;
  }
  #slide4:checked ~ .carousel-items {
    left: -300%;
  }
  #slide4:checked ~ .carousel-labels .carousel-label:nth-child(4) label {
    background-color: white;
  }
}
@media (max-width: 320px) {
  .discount {
    font-size: 1rem !important;
  }
  .price {
    margin-left: 0 !important;
  }
}
