$color-white: #fff;
$color-black: #000;
$color-camelot: #844152;
$color-carrotOrange: #ff8b24;

$font-famely-bebasNeueRegular: "BebasNeueRegular", sans-serif;
$font-weight-evogria: "Evogria", sans-serif;
$font-famely-bebasNeueThin: "BebasNeueThin", sans-serif;
$font-famely-bebasNeueLight: "BebasNeueLight", sans-serif;
